
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can only read and update their own user document.
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
    }

    // Users can create orders for themselves.
    // Users can only read and query orders that belong to them.
    match /orders/{document=**} {
      allow create: if request.auth != null;
      allow read, list: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}
